<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv=" X-UA-Compatible" content="IE-edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Gstore  @ViewData["Title"]</title>
    <link href="https://cdnjsdelivr.net/npm/simple-datatable@7.1.2/dist/style.min.css" rel="sylesheet" />
    <link href="~/css/admin.css" rel="stylesheet" />
    <link href="~/bootstrap.css" rel="stylesheet"/>
    <script src="https://use.fontawasome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Styles", required: false)
</head>

<body>
    <div id="layoutAuthenthication"> 
        <div id="layoutAuthenthication_content" class="d-flex allign-items-center">  
            <main class="w-100">

                @RenderBody()

            </main>
        </div>
        <div id="layoutAuthentication_footer">
            <div class="container-fluid p-4 mt-auto bg-light">
                <div class="d-flex allign-items-center- justify-content-between small">
                    <div class="text-muted">Copyright &copy; Gstore @DateTime.Now.Year</div>
                    <div>
                        <a href="#">Politicas description Privacidade</a> &middot;
                        <a href="#">Termos &amp; Condições</a>
                    </div>
                </div>
            </div> 
        </div>
    </div>

    <script src="https://cdn.jsdelvr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.budle.min.js"></script>
</body>
</html>>